{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>VistaTurbine</title>
<meta name="description" content="vista turbine website">
<meta name="author" content="jahanbakhsh mohammadi">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png'%}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png'%}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="{% static 'css/bootstrap.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.css'%}">

<!-- Slider
    ================================================== -->
<link href="{% static 'css/owl.carousel.css'%}" rel="stylesheet" media="screen">
<link href="{% static 'css/owl.theme.css'%}" rel="stylesheet" media="screen">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/nivo-lightbox/nivo-lightbox.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/nivo-lightbox/default.css'%}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top">Vista Turbine</a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about" class="page-scroll">About</a></li>
        <li><a href="#customers" class="page-scroll">Customers</a></li>
        <li><a href="#portfolio" class="page-scroll">Gallery</a></li>
        <li><a href="#capabilities" class="page-scroll">Capabilities</a></li>
        <li><a href="#contact" class="page-scroll">Contact</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>
<!-- Header -->
<header id="header">
  <div class="intro img-fluid">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 intro-text">
            <a href="#about" class="btn btn-custom btn-lg page-scroll">More Info</a> </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h2>Welcome to <span>Vista Turbine</span></h2>
          <hr>
          <p class="justify-text">VISTA’s dedicated engine shop performs all levels of on- and off-wing aircraft engine work in wide range of maintenance activities from borescope inspections to full engine overhaul.
          VISTA obtained the PART-145 certification for a maintenance organization from the Civil Aviation Organisation of Iran. We offer top quality services to our customers.
          Our newly engine shop is staffed by highly skilled engine technicians and engineers who provide major repairs on Pratt & Whitney, CFM International and IAE engines including full major periodic inspection (MPI). We also perform line maintenance found on the aircraft we maintain.
          VISTA ensures that our customer’s engines have been serviced according to OEM manuals and recommendations.
          </p>
          <a href="#customers" class="btn btn-custom btn-lg page-scroll">View All Customers</a> </div>
      </div>
      <div class="col-xs-12 col-md-offset-2 col-md-3">
        <div class="about-media"> <img src="{% static 'img/about-1.png'%}" alt=" "> </div>
        <div class="about-desc">
          <h3>Vista Shop</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="about-media"> <img src="{% static 'img/about-2.png'%}" alt=" "> </div>
        <div class="about-desc">
          <h3>Vista Maintenance Organization</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Customers Section -->
<div id="customers">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 section-title text-center">
      <h2>Our Customers</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <div class="customer-media"> <img  class="img-responsive" src="{% static 'img/customers/taban-logo.jpg'%}" alt=" "> </div>
        <div class="customer-desc">
          <h3>Taban Air</h3>
          <p >Taban Air is an airline headquartered in the Ekbatan Complex in Tehran, Iran with its main operational base in Mashhad. It operates international, domestic and charter routes as a scheduled carrier.</p>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="customer-media"> <img src="{% static 'img/customers/iranair-logo.png'%}" alt=" "> </div>
        <div class="customer-desc">
          <h3>Iran Air</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at.</p>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Gallery Section -->
<div id="portfolio">
  <div class="container">
    <div class="section-title text-center center">
      <h2>Vista Turbine Gallery</h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">All</a></li>
            <li><a href="#" data-filter=".lawn">Shop</a></li>
            <li><a href="#" data-filter=".garden">Vista Turbine</a></li>
            <li><a href="#" data-filter=".planting">Introduction</a></li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-4 lawn">
          <div class="portfolio-item">
            <div > <a href="{% static 'img/shap/01-large.jpg'%}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">

              </div>
              <img src="{% static 'img/shap/01-small.jpg'%}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 planting">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'img/shap/02-large.jpg'%}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Adipiscing Elit</h4>
              </div>
              <img src="{% static 'img/shap/02-small.jpg'%}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 lawn">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'img/shap/03-large.jpg'%}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Lorem Ipsum</h4>
              </div>
              <img src="{% static 'img/shap/03-small.jpg'%}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 lawn">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'img/shap/04-large.jpg'%}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Lorem Ipsum</h4>
              </div>
              <img src="{% static 'img/shap/04-small.jpg'%}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 planting">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'img/shap/05-large.jpg'%}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Adipiscing Elit</h4>
              </div>
              <img src="{% static 'img/shap/05-small.jpg'%}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 garden">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'img/shap/06-large.jpg'%}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Dolor Sit</h4>
              </div>
              <img src="{% static 'img/shap/06-small.jpg'%}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 garden">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'img/shap/07-large.jpg'%}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Dolor Sit</h4>
              </div>
              <img src="{% static 'img/shap/07-small.jpg'%}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 lawn">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'img/shap/08-large.jpg'%}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Lorem Ipsum</h4>
              </div>
              <img src="{% static 'img/shap/08-small.jpg'%}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 planting">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'img/shap/09-large.jpg'%}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Adipiscing Elit</h4>
              </div>
              <img src="{% static 'img/shap/09-small.jpg'%}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
                <div class="col-sm-6 col-md-4 planting">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'img/shap/10-large.jpg'%}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Adipiscing Elit</h4>
              </div>
              <img src="{% static 'img/shap/10-small.jpg'%}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Capabilities Section -->
<div id="capabilities" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="section-title">
        <h2>capabilities</h2>
      </div >
              <img src="{% static 'img/capabilities/145.jpg'%}" id="capabilitie-img">

              <div id="capilitie-modal" class="modal">
              <span class="close">&times;</span>
                 <img  id="capabilitie-img-large" class="modal-content img-fluid">
</div>
    </div>
  </div>
</div>
<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title text-center">
      <h2>Contact Us</h2>
      <hr>

    </div>
    <div class="col-md-10 col-md-offset-1 contact-info">
      <div class="col-md-6">
        <h3>Central Office Address</h3>
        <hr>
        <div class="contact-item">
          <p>No.20, Corner of Barikani ally Shahid Nafisi street, Ekbatan township, Tehran, Iran</p>
        </div>
      </div>

      <div class="col-md-6">
        <h3>Contact Info</h3>
        <hr>
        <div class="contact-item">
          <p>Tell : 00982144664900</p>
           <p>Fax : 00982144664900</p>
          <p>Email: info@vistaturbine.com</p>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <h3>Leave us a message</h3>
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Name" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
      </form>
    </div>
  </div>
</div>
<!-- Footer Section -->
<div id="footer">
  <div class="container text-center">
    <div class="col-md-8 col-md-offset-2">
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
      <p>&copy; 2018 VistaTurbine. Designed by <a href="http://www.templatewire.com" rel="nofollow">Jahanbakhsh Mohammadi</a></p>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery.1.11.1.js'%}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js'%}"></script>
<script type="text/javascript" src="{% static 'js/SmoothScroll.js'%}"></script>
<script type="text/javascript" src="{% static 'js/nivo-lightbox.js'%}"></script>
<script type="text/javascript" src="{% static 'js/jquery.isotope.js'%}"></script>
<script type="text/javascript" src="{% static 'js/owl.carousel.js'%}"></script>
<script type="text/javascript" src="{% static 'js/jqBootstrapValidation.js'%}"></script>
<script type="text/javascript" src="{% static 'js/contact_me.js'%}"></script>
<script type="text/javascript" src="{% static 'js/main.js'%}"></script>
</body>
</html>